<header>
    Page header

    <% if(locals.user){ %>
        <li><%= user.name %> </li> 
        <li>
            <form action="/users/sign-out?_method=DELETE" method="POST">
                <button type="submit">Sign Out</button>
            </form>
        </li>
    <% } %>
</header>